<%- include("../layouts/Header", {title: "Nova tarefa"}) %>
<%- include("../layouts/Menu") %>

<section class="section">
    <div class="container">
        <h1 class="title size-4">Nova Lista</h1>

        <form method="post" action="/checklists/<%= checklistId %>/tasks">
            <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                    <input type="text" class="input" name="task[name]" placeholder="Lista de tarefas" value="<%= task.name %>">
                    <% if(task.error && task.error.hasOwnProperty("name")) { %>
                        <p class="is-danger help"><%= task.error.name.message %></p>
                    <% } %>
                </div>
            </div>

            <button class="button is-success">Salvar</button>
            <a href="/checklists/<%= checklistId %>" class="button">Voltar</a>
        </form>
    </div>
</section>

<%- include("../layouts/Footer") %>